qtism/data/storage/xml/schemes/qtiv3p0/imsqtiv3p0_csmv1p1_v1p0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns="http://www.imsglobal.org/xsd/qti/qtiv3p0/imscsmd_v1p1"
     targetNamespace="http://www.imsglobal.org/xsd/qti/qtiv3p0/imscsmd_v1p1"
     xmlns:xs="http://www.w3.org/2001/XMLSchema"
     version="IMS CSM QTI 3.0"
     elementFormDefault="qualified"
     attributeFormDefault="unqualified">

    <xs:annotation>
        <xs:documentation>
            XSD Data File Information
            =========================
            Author:         Colin Smythe
            Date:           11th December, 2017
            Version:        3.0
            Status:         Final
            Description:    The data model for metadata used to annotate resources with curriculum standards GUIDs.
                                            This is the profile for the Question and Test Interoperability (QTI) v3.0.

            History:        Version 1.0: The first formal release of this QTI 3.0 profiled PSM binding.

            PROFILE:        This is the "QTIv3p0". THIS IS A PROFILE OF THE BASE SPECIFICATION.
                            The changes to the base specification are:
                            * The schema namespace has been changed to "http://www.imsglobal.org/xsd/qti/qtiv3p0/imscsmd_v1p1".
                            * The schema version has been changed to "IMS CSM QTI 3.0".

            License:        IPR and Distribution Notices

                            This machine readable file is derived from IMS Global specification IMS Curriculum Standards Metadata (CSM) for QTI Version 1.1
                            found at http://www.imsglobal.org/csm and the original IMS Global schema binding or code base
                            http://www.imsglobal.org/csm.

                            Recipients of this document are requested to submit, with their comments, notification of any relevant 
                            patent claims or other intellectual property rights of which they may be aware that might be infringed by
                            any implementation of the specification set forth in this document, and to provide supporting documentation.

                            IMS takes no position regarding the validity or scope of any intellectual property or other rights that might
                            be claimed to pertain to the implementation or use of the technology described in this document or the extent 
                            to which any license under such rights might or might not be available; neither does it represent that it has 
                            made any effort to identify any such rights. Information on IMS procedures with respect to rights in IMS 
                            specifications can be found at the IMS Global Intellectual Property Rights web page: http://www.imsglobal.org/ipr/imsipr_policyFinal.pdf.

                            Copyright (c) IMS Global Learning Consortium 1999-2017. All Rights Reserved.

                            Use of this specification to develop products or services is governed by the license with IMS found on the IMS website: http://www.imsglobal.org/license.html.

                            Permission is granted to all parties to use excerpts from this document as needed in producing requests for proposals.

                            The limited permissions granted above are perpetual and will not be revoked by IMS or its successors or assigns.

                            THIS SPECIFICATION IS BEING OFFERED WITHOUT ANY WARRANTY WHATSOEVER, AND IN PARTICULAR, ANY WARRANTY OF NONINFRINGEMENT IS
                            EXPRESSLY DISCLAIMED. ANY USE OF THIS SPECIFICATION SHALL BE MADE ENTIRELY AT THE IMPLEMENTERS OWN RISK, AND NEITHER THE CONSORTIUM
                            NOR ANY OF ITS MEMBERS OR SUBMITTERS, SHALL HAVE ANY LIABILITY WHATSOEVER TO ANY IMPLEMENTER OR THIRD PARTY FOR ANY DAMAGES OF
                            ANY NATURE WHATSOEVER, DIRECTLY OR INDIRECTLY, ARISING FROM THE USE OF THIS SPECIFICATION.

            Source UML File Information
            ===========================
            The source file information must be supplied as an XMI file (without diagram layout information).
            The supported UML authoring tools are:
            (a) Poseidon - v6 (and later)
            (b) Papyrus - v1.1.3 (and later)

            Source XSLT File Information
            ============================
            XSL Generator:    Specificationv1p0_GenerationToolv1.xsl
            XSLT Processor:   Saxon
            Release:          1.0
            Date:             31st July, 2017
            Autogen Engineer: Colin Smythe (IMS Global, UK)
            Autogen Date:     2017-12-05

            IMS Global Auto-generation Binding Tool-kit (I-BAT)
            ===================================================
            This file was auto-generated using the IMS Global Binding Auto-generation Tool-kit (I-BAT).  While every
            attempt has been made to ensure that this tool auto-generates the files correctly, users should be aware
            that this is an experimental tool.  Permission is given to make use of this tool.  IMS Global makes no
            claim on the materials created by third party users of this tool.  Details on how to use this tool
            are contained in the IMS Global "I-BAT" documentation available at the IMS Global web-site:
            http://www.imsglobal.org.

            Tool Copyright:  2012-2017  (c) IMS Global Learning Consortium Inc.  All Rights Reserved.
        </xs:documentation>
    </xs:annotation>

    <!-- Generate Global Attributes (non-assigned) ******************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate Global Attributes *********************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate Global List Types *********************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate Namespaced extension Group  ************************************************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate Special DataTypes  ********************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the enumerated simpleType declarations ************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Parameter) ***************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Derived) ******************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Union) ********************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Complex) ******************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon simpleType ************************************ -->

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon derived simpleType **************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the ComplexTypes ************************************************************************ -->

    <xs:complexType name="CurriculumStandardsMetadata.Type" abstract="false" mixed="false">
        <xs:annotation>
            <xs:documentation source="documentation">
                The CurriculumStandardsMetadata data-type is the container for the specicial metadata for 
                curriculum standards for a particular domain of GUID provider. The 'providerId' attribute 
                is used to denote the originator of the GUID scheme.                                      
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="setOfGUIDs" type="SetOfGUIDs.Type" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="providerId" use="optional" type="xs:normalizedString" />
    </xs:complexType>

    <xs:complexType name="CurriculumStandardsMetadataSet.Type" abstract="false" mixed="false">
        <xs:annotation>
            <xs:documentation source="documentation">
                The CurriculumStandardsMetadataSet data-type is the container for the set of curriculum s-
                tandards metadata. Each member of the set contains the curriculum standards metadata for a
                specific source of the GUIDs. The 'resourceLabel' attribute is a human readable label used
                to identify the type of resource, or part of resource, to which the enclosed metadata ref-
                ers. The 'resourcePartId' is used to contain the appropriate identifier that is used to i-
                dentify the resource part e.g. a QTI-Item within a QTI-Assessment.                        
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="curriculumStandardsMetadata" type="CurriculumStandardsMetadata.Type" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="resourceLabel" use="optional" type="xs:normalizedString" />
        <xs:attribute name="resourcePartId" use="optional" type="xs:normalizedString" />
    </xs:complexType>

    <xs:complexType name="LabelledGUID.Type" abstract="false" mixed="false">
        <xs:annotation>
            <xs:documentation source="documentation">
                The labelled curriculum standard GUID. The optional label provides a human readable string
                to provide a clue about the nature of the curriculum standard.                            
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="label" type="xs:normalizedString" minOccurs="0" maxOccurs="1" />
            <xs:element name="caseItemURI" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
            <xs:element name="GUID" type="xs:normalizedString" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SetOfGUIDs.Type" abstract="false" mixed="false">
        <xs:annotation>
            <xs:documentation source="documentation">
                The SetofGUIDs data-type is the container for the set of GUIDs that are to annotate a res-
                ource for a particular geographical/socio-political/etc. region. The region is denote usi-
                ng the 'region' attribute. The 'version' attribute is used to denote any relevant version-
                ing information.                                                                          
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="labelledGUID" type="LabelledGUID.Type" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="region" use="optional" type="xs:normalizedString" />
        <xs:attribute name="version" use="optional" type="xs:normalizedString" />
    </xs:complexType>

    <!-- ================================================================================================== -->

    <!-- Generate the SOAP Binding ComplexTypes *********************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the derived ComplexTypes **************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Complex) ************************************************************ -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Derived) ************************************************************ -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the root element(s) *************************************************************** -->

    <xs:element name="curriculumStandardsMetadataSet" type="CurriculumStandardsMetadataSet.Type" />

    <!-- ================================================================================================== -->

</xs:schema>
